.cv-article h2 {
  font-size: 30px;
  font-family: Helvetica, Arial;
  color: #333;
  /* border-bottom: 4px solid #333; */
  /* margin-bottom: 20px; */
  /* border-radius: 3px; */
}

.cv-article hr {
  border: 2px solid #333;
  border-radius: 3px;
  /* margin: 0px auto; */
  margin-top: 5px;
  margin-bottom: 25px;
  /* width: 400px; */
}

.cv-article ul {
  line-height: 20px;
  list-style-type: none;
}
